{
    "parserOptions": {
        "ecmaVersion": 2022
    },
    extends: "airbnb-base",
    plugins: [
        "jest"
    ],
    rules: {
        indent: [
            "error",
            4
        ]
    },
    env: {
        node: true,
        jest/globals: true
    }
}
